---
---

<section id="about-section">
    <header id="about-header" class="section-header">
        <h1>About</h1>
    </header>
    <div>

    </div>
</section>

<style>
    #about-section {
        height: 100vh;
        background-color: #F2F2F2;
        color: #736868;
    }
    header {
        margin: 0rem auto;
        padding: 5rem;
        text-align: center;
    }
</style>