<section id="cv-section">
    <header id="cv-header" class="section-header">
        <h1>Curriculum Vitae</h1>
    </header>
    <div class="content-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum officiis itaque earum mollitia aut id excepturi dicta pariatur est cupiditate, quo iste corrupti molestiae aliquid recusandae voluptatibus laborum eveniet fugit consequuntur autem. Eum quam voluptatem commodi, quasi sit saepe? Nesciunt, voluptates aperiam saepe, dicta nemo odit earum totam itaque ullam ipsum temporibus nisi recusandae quam nam iste dolorem corporis accusamus.</p>

        <p>Officia ducimus libero tempore ab, deserunt, deleniti illo veniam adipisci facilis corporis tempora optio veritatis nam totam atque! Natus, harum neque impedit, repellendus sed quis ea corporis est nemo dignissimos amet quia hic unde laborum error obcaecati quibusdam! Dicta illo minus, cumque ea asperiores eaque facere ipsa sint deserunt eveniet dolor adipisci. Eligendi a nam consequuntur beatae qui quibusdam necessitatibus!</p>

        <p>Atque non assumenda earum veritatis facilis quos cum ab laudantium aliquid est, provident suscipit excepturi alias nemo libero ut ratione amet, tenetur neque! Fuga, facere dolorem! Repudiandae eos possimus laborum, iusto quos aspernatur rerum? Incidunt neque velit facere consequuntur soluta ea laudantium aspernatur sequi necessitatibus sunt provident, a mollitia porro voluptate? Quasi velit corporis est quaerat vel soluta laudantium. Vero!</p>
    </div>
</section>

<style>
    #about-section {
        height: 100vh;
        /* background-color: #0D0D0D; */
        color: #736868;
    }

    header {
        margin: 0rem auto;
        padding: 5rem;
        text-align: center;
    }

    .content-container {
        margin: 0 auto;
        width: 60%;
    }
</style>