---
import { Image } from 'astro:assets';
import mina from '../../public/mina.jpeg'
---

<section id="landing-section">
    <header id="landing-header">
    </header>
    <div id="first-name-header" class="name-header">
        <h1>Mina</h1>
    </div>
    <div id="img-wrapper">
        <Image src={mina} alt="Mina Barimany" />
    </div>
    <div id="last-name-header" class="name-header">
        <h1>Barimany</h1>
    </div>
</section>

<style>    
    #landing-section {
        display: block;
        width: 50%;
        height: 100vh;
        margin: 0 auto;
        background-color: #0D0D0D;
    }

    #landing-header {
        height: 5rem;
    }

    img {
        height: 24rem;
        width: auto;
        z-index: 0;
    }

    #img-wrapper {
        display: flex;
        justify-content: center;
    }

    .name-header {;
        position: relative;
        display: flex;
        z-index: 10;
        height: 2rem;
        color: #FF10F0;
    }

    #first-name-header {
        justify-content: start;
        left: 50px;
        color: #FF10F0;
    }

    #last-name-header {
        justify-content: end;
        bottom: 60px;
        color: #FF10F0;
    }
</style>