<nav id="nav-bar">
    <a class="nav-item" href="">
        <p>Mina</p>
    </a>
    <a class="nav-item" href="">
        <p>Resume</p>
    </a>
    <a class="nav-item" href="">
        <p>Clinical</p>
    </a>
    <a class="nav-item" href="">
        <p>Professional</p>
    </a>
    <a class="nav-item" href="">
        <p>Contact</p>
    </a>
</nav>

<script>
    const navBar = document.getElementById("nav-bar") as HTMLElement;

    let stickyPosition: number | undefined = navBar?.offsetTop;

    const toggleSticky = (): void => {
        if (stickyPosition && window.scrollY >= stickyPosition) {
            navBar?.classList.add("sticky");
        } else {
            navBar?.classList.remove("sticky");
        }
    }

    window.onscroll = () => {
        toggleSticky()
    }
</script>

<style>
    nav {
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-around;
        background-color: #F2F2F2;
        height: 4rem;
        width: 100%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    }
    
    .nav-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sticky {
        position: fixed;
        top: 0;
    }

    #nav-bar:not(.sticky) {

    }
</style>