<nav class="nav-bar">
    <div class="nav-item">
        <p>Mina</p>
    </div>
    <div class="nav-item">
        <p>Resume</p>
    </div>
    <div class="nav-item">
        <p>Clinical</p>
    </div>
    <div class="nav-item">
        <p>Professional</p>
    </div>
    <div class="nav-item">
        <p>Contact</p>
    </div>
</nav>

<style>
    nav {
        background-color: ;
    }
    .nav-bar {
        display: flex;
        justify-content: space-around;
    }
    .nav-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

</style>